<?xml version="1.0"?>
<Settings>
	<Env>TIEnv</Env>
	<Config>
		<ALM>
			<Project>
				<Project>PROJECT_ALM</Project>
				<Host>alm.saas.hpe.com</Host>
				<Port>80</Port>
				<Domain>DOMAIN_ALM</Domain>
				<User>USER_ALM</User>
				<Pass>PASS_ALM</Pass>
			</Project>
		</ALM>
		<Evidences>
			<Project>EVIDENCE_PROJECT_DESCRIPTION</Project>
			<Version>1.0</Version>
			<Cycle>EVIDENCE_PROJECT_CYCLE</Cycle>
			<Executor>AUTOMATION</Executor>
		</Evidences>
		<Email>
			<From>email@fabrica.com.br</From>
			<To>email@fabrica.com.br</To>
			<Host>smtp.gmail.com</Host>
			<Port>587</Port>
			<Pass>PASS_EMAIL</Pass>
		</Email>
		<Paths>
			<FabricaLogo>./utilitarios/arquivos/fabricaLogo.png</FabricaLogo>
			<ClienteLogo>./utilitarios/arquivos/clienteLogo.png</ClienteLogo>
			<OutputDirBaseEvidences>./utilitarios/evidencias/</OutputDirBaseEvidences>
			<Aux>./utilitarios/auxiliares/</Aux>
			<Files>./utilitarios/arquivos/</Files>
			<Layouts>./utilitarios/layouts/</Layouts>
			<Evidencia>./utilitarios/evidencias/</Evidencia>
			<EvidenciasConsolidadas>./utilitarios/evidenciasConsolidadas/</EvidenciasConsolidadas>
			<App>./app.apk</App>
			<Adb>C:/Users/(USER)/AppData/Local/Android/sdk/platform-tools/</Adb>
			<Emulator>C:/Users/(USER)/AppData/Local/Android/sdk/tools/</Emulator>
		</Paths>
		<Mensagens>
			<StartAutomation>Iniciando a automação...</StartAutomation>
		</Mensagens>
	</Config>
</Settings>